$color-primary: #464B58;
$color-blue: #596993;
$color-red: #9A3A87;
$border-width: 2px;
$logo-top: 57px;
$logo-height: 87px;
$loading-anim-duration: 1s;
$contact-size: 87px;
$champagne-background-position-y: 1024px;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 16px;
  font-family: Baskerville Std Roman serif;
  letter-spacing: .02em;

  &.loading {
    .page {
      display: none;
    }

    .page-main {
      display: flex;
      .section-face,
      .section-eye {
        opacity: 0;
      }

      .nav {
        top: calc(50% - #{$logo-top} - #{$logo-height} / 2);
      }
    }
  }
}

@mixin fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin panel {
  position: absolute;
  width: 50%;
  top: 0;
  height: 100vh;
  background-color: $color-primary;
  color: white;
  overflow: hidden;

  .panel-outline {
    width: 100%;
    height: 100%;
    shape-margin: 2em;
  }

  .panel-content {
    box-sizing: border-box;
    padding: 2em;

    .panel-title {
      margin: 3em 0;
      font-size: 1.06em;
      text-align: center;
    }
  }

  .contact-container {
    text-align: center;
    padding: 2em;

    .contact {
      display: inline-block;
      cursor: pointer;
      width: $contact-size;
      height: $contact-size;
      background: url(/img/contact.svg) no-repeat center;
      background-size: contain;

      &:hover {
        background-image: url(/img/contact-highlight.svg);
      }
    }
  }
}

.language-kor {
  &:after {
    content: 'Korean';
  }
}

.language-eng {
  &:after {
    content: 'English';
  }
}

.page {
  flex-shrink: 0;
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page-main {
  @extend .page;

  .fake {
    @include fill;
    z-index: 1;
    opacity: 0;

    &.band:hover + .section-face {
      .background {
        opacity: 1;
      }

      .band {
        background-color: rgba($color-primary, .47);
      }

      & + * + .section-eye-left,
      & + * + .section-eye-left + * + .section-eye-right {
        background-color: $color-primary;

        .background-container {
          visibility: hidden;
        }

        .geometry {
          visibility: visible;
        }
      }

      & + * + .section-eye-left {
        .eye {
          background-image: url(/img/eye-left-black.svg);

          .label {
            color: white;
          }
        }
      }

      & + * + .section-eye-left + * + .section-eye-right {
        .eye {
          background-image: url(/img/eye-right-black.svg);

          .label {
            color: white;
          }
        }
      }
    }

    @mixin clip-hover-eye-left {
      clip-path: url(#clip-eye-left-hover);
      clip-path: polygon(0 0, 0 100%, 50% 100%, 100% 0);
    }
    &.section-eye-left:hover + .section-eye-left {
      @include clip-hover-eye-left;

      .background-container {
        @include clip-hover-eye-left;
      }
    }

    @mixin clip-hover-eye-right {
      clip-path: url(#clip-eye-right-hover);
      clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 0);
    }
    &.section-eye-right:hover + .section-eye-right {
      @include clip-hover-eye-right;

      .background-container {
        @include clip-hover-eye-right;
      }
    }
  }

  .champagne {
    @include fill;
    background: url(/img/champagne.svg) repeat-y center;
    background-position-y: $champagne-background-position-y;
    z-index: -2;

    @keyframes anim-champagne {
      from {
        background-position-y: 1810px;
      }
      to {
        background-position-y: $champagne-background-position-y;
      }
    }

    animation: anim-champagne 3s ease-out;
  }

  .band {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(56.8vh - 82px);
    height: 164px;
  }

  .label {
    text-align: center;
  }

  .section-face {
    @include fill;
    transition: opacity $loading-anim-duration;

    .background {
      @include fill;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0;
      transition: opacity 1s;
    }

    .band {
      background-color: $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background 1s;

      .label {
        color: white;
      }
    }
  }

  .section-eye {
    @include fill;
    transition: opacity $loading-anim-duration, clip-path 1s;
    background-color: white;

    .background-container {
      @include fill;
      transition: clip-path 1s;
      opacity: .7;

      .background {
        @include fill;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    .eye {
      position: absolute;
      top: 32.2vh;
      left: 2.3vw;
      right: 2.3vw;
      width: 27.7vw;
      height: 100vh;
      background: no-repeat center;
      background-size: 100% auto;
      display: flex;
      align-items: center;
      justify-content: center;

      .label {
        margin-top: 4vh;
        color: black;
        font-weight: bold;
      }
    }

    .geometry {
      @include fill;
      visibility: hidden;

      * {
        position: absolute;
        left: 16.6vw;
        right: 16.6vw;
        border: 1px solid white;
      }

      .top {
        top: 56.8vh;
        height: calc(27.4vh - 2em);
        border-bottom: none;
      }

      .bottom {
        top: calc(84.2vh + 2em);
        bottom: 0;
        border-top: none;
        border-bottom: none;
      }
    }
  }

  .section-eye-left {
    @mixin clip {
      clip-path: url(#clip-eye-left);
      clip-path: polygon(0 0, 0 100%, 50% 100%, 0 0);
    }

    @extend .section-eye;
    @include clip;

    .background-container {
      @include clip;
      top: $border-width;
      right: $border-width;
    }

    .eye {
      align-self: flex-start;
      background-image: url(/img/eye-left.svg);
      right: auto;
    }
  }

  .section-eye-right {
    @mixin clip {
      clip-path: url(#clip-eye-right);
      clip-path: polygon(100% 0, 100% 100%, 50% 100%, 100% 0);
    }

    @extend .section-eye;
    @include clip;

    .background-container {
      @include clip;
      top: $border-width;
      left: $border-width;
    }

    .eye {
      align-self: flex-end;
      background-image: url(/img/eye-right.svg);
      left: auto;
    }
  }

  .languages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    .language-container {
      flex: 1;
      font-size: .875em;
      padding: 0 3em;
      display: flex;
      flex-direction: column;

      .language {
        text-decoration: underline;
        cursor: pointer;

        &.selected {
          border-bottom: 2px solid $color-primary;
        }
      }

      .language-kor {
        @extend .language;
        align-self: flex-end;
        color: $color-blue;
      }

      .language-eng {
        @extend .language;
        align-self: flex-start;
        color: $color-red;
      }
    }
  }

  .nav {
    position: absolute;
    left: 0;
    right: 0;
    top: $logo-top;
    text-align: center;
    transition: top $loading-anim-duration;
    z-index: 3;

    svg {
      position: relative;
      height: $logo-height;

      .st0 {
        fill: #B70117;
        animation: anim-logo 45s infinite;
        @keyframes anim-logo {
          0% {
            fill: #B70117;
          }
          9.09% {
            fill: #898333;
          }
          18.18% {
            fill: #39620C;
          }
          27.27% {
            fill: #513389;
          }
          36.36% {
            fill: #7A6544;
          }
          45.45% {
            fill: #101010;
          }
          54.54% {
            fill: #124886;
          }
          63.63% {
            fill: #61340C;
          }
          72.72% {
            fill: #115949;
          }
          81.81% {
            fill: #7F7F7F;
          }
          90.90% {
            fill: #044926;
          }
          100% {
            fill: #B70117;
          }
        }
      }
    }

    #menu {
      display: none;

      &:checked + .icon-menu {
        background-image: url(/img/menu-selected.svg);
      }
    }

    .icon-menu {
      position: absolute;
      top: 11.5px;
      right: 40px;
      width: 64px;
      height: 64px;
      background: url(/img/menu.svg) no-repeat center;
      background-size: cover;
      visibility: hidden;
      cursor: pointer;
      pointer-events: auto;
    }

    &.visible {
      margin-top: -$logo-top;
      position: fixed;
      background-color: rgba(white, .9);

      .icon-menu {
        visibility: visible;
      }

      & + .panel-sidebar.visible {
        right: 0;
        opacity: 1;
      }
    }
  }

  .panel-sidebar {
    @include panel;
    position: fixed;
    right: -50vw;
    opacity: 0;
    clip-path: url(#clip-panel-sidebar);
    z-index: 2;
    background-color: white;
    transition: right 1s, opacity 1s;

    .panel-menu {
      @include fill;
      left: $border-width;
      bottom: $border-width;
      clip-path: url(#clip-panel-sidebar);
      background-color: $color-primary;
      text-align: right;

      .panel-outline {
        float: left;
        shape-outside: polygon(0 0, 0 100%, 100% 100%);
        shape-margin: 6em;
      }

      .menu-header {
        margin-top: $logo-height;
        font-size: .875em;
        padding: 1em;

        > * {
          margin-right: 1.5em;
        }

        .language-label {
          &:after {
            margin-left: 1em;
            content: ':'
          }
        }

        .language {
          text-decoration: underline;
          cursor: pointer;

          &.selected {
            border-bottom: 2px solid $color-primary;
          }
        }

        .language-kor {
          @extend .language;

          &.selected {
            color: red;
          }
        }

        .language-eng {
          @extend .language;

          &.selected {
            color: blue;
          }
        }
      }

      .menu-item {
        position: relative;
        width: 100%;
        text-align: left;
        font-size: 1.5em;
        margin: 56px 0;
        white-space: nowrap;

        a {
          color: inherit;
          border-bottom: 1px solid white;
          text-decoration: none;

          &:after {
            content: '------------------------------------------------------------------------------------------------';
            color: $color-primary;
          }
        }
      }
    }
  }
}

.page-desc {
  @extend .page;
  background-size: cover;
  background-position: center;

  .panel-left {
    @include panel;
    left: 0;
    clip-path: url(#clip-panel-left);

    .panel-outline {
      float: right;
      shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    }

    .panel-content {
      text-align: left;
    }
  }

  .panel-right {
    @include panel;
    right: 0;
    clip-path: url(#clip-panel-right);

    .panel-outline {
      float: left;
      shape-outside: polygon(0 0, 0 100%, 100% 0);
    }

    .panel-content {
      text-align: right;
    }
  }
}

.page-consulting {
  @extend .page;
  height: 200%;
  display: flex;
  flex-direction: column;

  .half-champagne {
    position: absolute;
    height: 200vh;
    width: 10vh;
    background-repeat: repeat-y;
    background-size: auto 100%;
  }

  .half-champagne-right {
    @extend .half-champagne;
    top: 0;
    left: calc(50vw + 5em);
    transform-origin: 100% 0;
    background-image: url(/img/champagne-right.svg);
    background-position: left -10em;
  }

  .half-champagne-left {
    @extend .half-champagne;
    bottom: 0;
    right: calc(50vw + 5em);
    transform-origin: 0 100%;
    background-image: url(/img/champagne-left.svg);
    background-position: right 10em;
  }

  .desc {
    position: absolute;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8em;
    box-sizing: border-box;
  }

  .desc-top {
    @extend .desc;
    top: 0;
    right: 0;
    padding-left: 0;
  }

  .desc-center {
    @extend .desc;
    top: 50vh;
    left: 25vw;
    padding-left: 4em;
    padding-right: 4em;
  }

  .desc-bottom {
    @extend .desc;
    bottom: 0;
    left: 0;
    padding-right: 0;
  }
}

#clip-defs {
  position: absolute;
  z-index: -999;
}