$color-primary: #464B58;
$color-blue: #596993;
$color-red: #9A3A87;
$border-width: 2px;
$logo-top: 57px;
$logo-height: 87px;
$loading-anim-duration: 1s;
$contact-size: 87px;
$champagne-background-position-y: 1024px;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@mixin font {
  font-family: Baskerville, seoul-namsan-jang, Std, Roman, serif;
}

body {
  @include font;
  overflow-y: scroll;
  font-size: 16px;
  letter-spacing: .02em;
}

.fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-container {
  text-align: center;
  padding: 2em;

  .contact {
    display: inline-block;
    cursor: pointer;
    width: $contact-size;
    height: $contact-size;
    background: url(/img/contact.svg) no-repeat center;
    background-size: contain;

    &:active {
      background-image: url(/img/contact-highlight.svg);
    }
  }
}

.panel {
  position: absolute;
  width: 50%;
  top: 0;
  height: 100vh;
  background-color: $color-primary;
  color: white;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);

  .panel-outline {
    width: 100%;
    height: 100%;
    shape-margin: 2em;
  }

  .panel-content {
    box-sizing: border-box;
    padding: 2em;

    .panel-title {
      margin: 3em 0;
      font-size: 1.06em;
      text-align: center;
    }
  }
}

.language-kor {
  &:after {
    content: 'Korean';
  }
}

.language-eng {
  &:after {
    content: 'English';
  }
}

.champagne {
  @extend .fill;
  position: fixed;
  background: url(/img/champagne.svg) repeat-y center;
  background-position-y: $champagne-background-position-y;
  z-index: -1;
}

.page {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: height 1s, opacity 1s;

  &.hide {
    height: 0;
    opacity: 0;
  }
}

.page-main {
  @extend .page;

  .empty {
    display: none;
  }

  .fake {
    @extend .fill;
    z-index: 1;
    opacity: 0;

    &.band:hover + .section-face {
      .background {
        opacity: 1;
      }

      .band {
        background-color: rgba($color-primary, .47);
      }

      & + * + .section-eye-left,
      & + * + .section-eye-left + * + .section-eye-right {
        background-color: $color-primary;

        .background-container {
          visibility: hidden;
        }

        .geometry {
          visibility: visible;
        }
      }

      & + * + .section-eye-left {
        .eye {
          background-image: url(/img/eye-left-black.svg);

          .label {
            color: white;
          }
        }
      }

      & + * + .section-eye-left + * + .section-eye-right {
        .eye {
          background-image: url(/img/eye-right-black.svg);

          .label {
            color: white;
          }
        }
      }
    }

    @mixin clip-hover-eye-left {
      clip-path: url(#clip-eye-left-hover);
      clip-path: polygon(0 0, 0 100%, 50% 100%, 100% 0);
    }
    &.section-eye-left:hover + .section-eye-left {
      @include clip-hover-eye-left;

      .background-container {
        @include clip-hover-eye-left;
      }
    }

    @mixin clip-hover-eye-right {
      clip-path: url(#clip-eye-right-hover);
      clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 0);
    }
    &.section-eye-right:hover + .section-eye-right {
      @include clip-hover-eye-right;

      .background-container {
        @include clip-hover-eye-right;
      }
    }
  }

  .band {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(56.8vh - 82px);
    height: 164px;
    cursor: pointer;
  }

  .label {
    display: flex;
    text-align: center;
    flex-direction: column;

    span:first-child:after {
      content: ' &'
    }
  }

  .background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
  }

  .section-face {
    @extend .fill;
    transition: opacity $loading-anim-duration;

    .background {
      opacity: 0;
      transition: opacity 1s;
    }

    .band {
      background-color: $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background 1s;

      .label {
        color: white;
      }
    }
  }

  .section-eye {
    @extend .fill;
    transition: opacity $loading-anim-duration, clip-path 1s;
    background-color: white;

    .background-container {
      @extend .fill;
      transition: clip-path 1s;
      opacity: .7;
    }

    .eye {
      position: absolute;
      top: calc(82.2vh - 21.2vw / 2);
      left: 2.3vw;
      right: 2.3vw;
      width: 27.7vw;
      height: 21.2vw;
      background: no-repeat center;
      background-size: 100% auto;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .label {
        margin-top: 4vh;
        color: black;
        font-weight: bold;
      }
    }

    .geometry {
      @extend .fill;
      visibility: hidden;

      * {
        position: absolute;
        left: 16.6vw;
        right: 16.6vw;
        border: 1px solid white;
      }

      .top {
        top: 56.8vh;
        height: calc(27.4vh - 2em);
        border-bottom: none;
      }

      .bottom {
        top: calc(84.2vh + 2em);
        bottom: 0;
        border-top: none;
        border-bottom: none;
      }
    }
  }

  .section-eye-left {
    @mixin clip {
      clip-path: url(#clip-eye-left);
      clip-path: polygon(0 0, 0 100%, 50% 100%, 0 0);
    }

    @extend .section-eye;
    @include clip;

    .background-container {
      @include clip;
      top: $border-width;
      right: $border-width;
    }

    .eye {
      align-self: flex-start;
      background-image: url(/img/eye-left.svg);
      right: auto;
    }
  }

  .section-eye-right {
    @mixin clip {
      clip-path: url(#clip-eye-right);
      clip-path: polygon(100% 0, 100% 100%, 50% 100%, 100% 0);
    }

    @extend .section-eye;
    @include clip;

    .background-container {
      @include clip;
      top: $border-width;
      left: $border-width;
    }

    .eye {
      align-self: flex-end;
      background-image: url(/img/eye-right.svg);
      left: auto;
    }
  }

  .languages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    .language-container {
      flex: 1;
      font-size: .875em;
      padding: 0 3em;
      display: flex;
      flex-direction: column;

      .language {
        text-decoration: underline;

        &.selected {
          border-bottom: 2px solid $color-primary;
        }
      }

      .language-kor {
        @extend .language;
        align-self: flex-end;
        color: $color-blue;
      }

      .language-eng {
        @extend .language;
        align-self: flex-start;
        color: $color-red;
      }
    }
  }
}

.nav {
  position: absolute;
  left: 0;
  right: 0;
  top: $logo-top;
  text-align: center;
  transition: top $loading-anim-duration;
  z-index: 3;

  svg {
    cursor: pointer;
  }

  svg:first-child {
    position: relative;
    height: $logo-height;

    & + svg {
      display: none;
    }

    .st0 {
      fill: #B70117;
      animation: anim-logo 45s infinite;
      @keyframes anim-logo {
        0% {
          fill: #B70117;
        }
        9.09% {
          fill: #898333;
        }
        18.18% {
          fill: #39620C;
        }
        27.27% {
          fill: #513389;
        }
        36.36% {
          fill: #7A6544;
        }
        45.45% {
          fill: #101010;
        }
        54.54% {
          fill: #124886;
        }
        63.63% {
          fill: #61340C;
        }
        72.72% {
          fill: #115949;
        }
        81.81% {
          fill: #7F7F7F;
        }
        90.90% {
          fill: #044926;
        }
        100% {
          fill: #B70117;
        }
      }
    }
  }

  #menu {
    display: none;

    &:checked + .icon-menu {
      background-image: url(/img/menu-selected.svg);
    }
  }

  .icon-menu {
    position: absolute;
    top: 11.5px;
    right: 40px;
    width: 64px;
    height: 64px;
    background: url(/img/menu.svg) no-repeat center;
    background-size: cover;
    visibility: hidden;
    cursor: pointer;
    pointer-events: auto;
  }

  &.visible {
    margin-top: -$logo-top;
    position: fixed;
    background-color: rgba(white, .9);

    .icon-menu {
      visibility: visible;
    }

    & + .panel-sidebar.visible {
      right: 0;
      opacity: 1;
    }
  }
}

.panel-sidebar {
  @extend .panel;
  position: fixed;
  right: -50vw;
  opacity: 0;
  clip-path: url(#clip-panel-sidebar);
  z-index: 2;
  background-color: white;
  transition: right 1s, opacity 1s;

  .panel-menu {
    @extend .fill;
    left: $border-width;
    bottom: $border-width;
    clip-path: url(#clip-panel-sidebar);
    background-color: $color-primary;
    text-align: right;

    .panel-outline {
      float: left;
      shape-outside: polygon(0 0, 0 100%, 100% 100%);
      shape-margin: 6em;
    }

    .menu-header {
      margin-top: $logo-height;
      font-size: .875em;
      padding: 1em;

      > * {
        margin-right: 1.5em;
      }

      .language-label {
        &:after {
          margin-left: 1em;
          content: ':'
        }
      }

      .language {
        color: white;
        text-decoration: underline;
      }

      .language-kor {
        @extend .language;

        &.selected {
          color: red;
        }
      }

      .language-eng {
        @extend .language;

        &.selected {
          color: blue;
        }
      }
    }

    .menu-item {
      position: relative;
      width: 100%;
      text-align: left;
      font-size: 1.5em;
      color: #E0E2E8;
      margin: 56px 0;
      white-space: nowrap;

      a {
        color: inherit;
        border-bottom: 1px solid white;
        text-decoration: none;

        &:after {
          content: '------------------------------------------------------------------------------------------------';
          color: $color-primary;
        }
      }
    }
  }
}

.desc-switch {
  display: none;
}

.page-desc {
  @extend .page;

  .picture {
    @extend .fill;
    background-size: cover;
    background-position: center;
  }

  .panel-left {
    @extend .panel;
    left: 0;
    clip-path: url(#clip-panel-left);

    .panel-outline {
      float: right;
      shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    }

    .panel-content {
      text-align: left;
    }
  }

  .panel-right {
    @extend .panel;
    right: 0;
    clip-path: url(#clip-panel-right);

    .panel-outline {
      float: left;
      shape-outside: polygon(0 0, 0 100%, 100% 0);
    }

    .panel-content {
      text-align: right;
    }
  }
}

.page-consulting {
  @extend .page;
  height: 200vh;
  flex-direction: column;
  background-color: white;

  .half-champagne {
    position: absolute;
    height: 200vh;
    width: 10vh;
    background-repeat: repeat-y;
    background-size: auto 100%;
  }

  .half-champagne-right {
    @extend .half-champagne;
    top: 0;
    left: calc(50vw + 5em);
    transform-origin: 100% 0;
    background-image: url(/img/champagne-right.svg);
    background-position: left;
  }

  .half-champagne-left {
    @extend .half-champagne;
    bottom: 0;
    right: calc(50vw + 5em);
    transform-origin: 0 100%;
    background-image: url(/img/champagne-left.svg);
    background-position: right;
  }

  .desc {
    position: absolute;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8em;
    box-sizing: border-box;

    & + .contact-container {
      display: none;
    }
  }

  .desc-top {
    @extend .desc;
    top: 0;
    right: 0;
    padding-left: 0;
  }

  .desc-center {
    @extend .desc;
    top: 50vh;
    left: 25vw;
    padding-left: 4em;
    padding-right: 4em;
  }

  .desc-bottom {
    @extend .desc;
    bottom: 0;
    left: 0;
    padding-right: 0;
  }
}

.page-about {
  @extend .page;
  z-index: -2;

  .vertical {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .horizontal {
    flex: 1;
    display: flex;
    align-items: stretch;
  }

  .about {
    flex: 1;
    background-size: cover;
    background-position: center;
  }

  .about-1 {
    @extend .about;
    background-image: url(/img/about/item-1.png);
  }
  .about-2 {
    @extend .about;
    background-image: url(/img/about/item-2.png);
  }
  .about-3 {
    @extend .about;
    background-image: url(/img/about/item-3.png);
  }
  .about-4 {
    @extend .about;
    background-image: url(/img/about/item-4.png);
  }
  .about-5 {
    @extend .about;
    background-color: #DCD0C6;
  }
}

.page-contact {
  @extend .page;
  background-color: $color-primary;
  z-index: 4;
  align-items: center;
  height: auto;
  min-height: 100vh;

  .champagne-static {
    @extend .fill;
    background: url(/img/champagne.svg) repeat-y center;
    background-position-y: $champagne-background-position-y;
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    top: $logo-top;
    text-align: center;

    svg {
      height: $logo-height;
    }
  }

  .corner {
    position: absolute;
    width: 25vw;
    height: 50vh;
    bottom: 0;
    opacity: .7;
    -webkit-transform: translate3d(0, 0, 0);
  }

  .corner-left {
    @extend .corner;
    clip-path: url(#clip-corner-left);
    left: 0;
    background: url(/img/contact/corner-left.png) center;
    background-size: cover;
  }

  .corner-right {
    @extend .corner;
    clip-path: url(#clip-corner-right);
    right: 0;
    background: url(/img/contact/corner-right.png) center;
    background-size: cover;
  }

  .contact-form {
    position: relative;
    width: 50vw;
    box-sizing: border-box;
    margin-top: 184px;
    margin-bottom: 84px;
    background: $color-red;
    border-width: 12px 83px;
    border-color: $color-blue;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 77px;

    .title {
      margin-top: 12px;
      margin-bottom: 26px;
      font-size: 1.125em;
      color: white;
    }

    .input-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;
      align-self: stretch;

      .row {
        display: flex;
        margin-bottom: 24px;
        justify-content: center;

        input, textarea, select {
          @include font;
          flex: 1;
          min-width: 0;
          border: none;
          outline: none;
          padding: .5em 1em;
          font-size: 1em;
          margin-right: 24px;
          background: white;

          &:last-child {
            margin-right: 0;
          }
        }

        .select {
          display: flex;
          flex: 1;
          background: white;

          select {
            height: 34px;
            background: transparent;
          }
        }

        &.hide {
          display: none;
        }
      }

      .row-logo {
        @extend .row;
        position: relative;
        align-self: center;
        width: 12em;
        height: 8em;

        .logo-label {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          background: white;
          cursor: pointer;

          &.hide {
            span {
              display: none;
            }
          }
        }

        .logo-preview {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        #input-logo {
          position: absolute;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          margin: 0;
          outline: none;
          opacity: 0;
        }
      }

      .row-block {
        @extend .row;
        flex-direction: column;

        .block-title {
          position: relative;
          font-size: 1.06em;
          color: white;
          margin-bottom: 4px;
          z-index: 1;

          &:before {
            border-top: 3px solid #dfdfdf;
            content: "";
            margin: 0 auto; /* this centers the line to the full width specified */
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%;
            left: 0;
            right: 4px;
            bottom: 0;
            z-index: -1;
          }

          span {
            /* to hide the lines from behind the text, you have to set the background color the same as the container */
            background: $color-red;
            padding-right: 1em;
          }
        }

        .radio-container {
          border-radius: 8px;
          background: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(#2F2F2F, .74) 2px, rgba(#2F2F2F, .74) 10px);
          display: flex;
          flex-wrap: wrap;

          input[type='radio'] {
            opacity: 0;
            margin: 0;
            padding: 0;
            max-width: 1px;
            flex-shrink: 0;

            & + label {
              color: white;
              opacity: .74;
              font-size: 0.9375em;
              text-decoration: underline;
              margin: .5em 1em;
              cursor: pointer;

              &.palette {
                flex: 1;
                height: 48px;
                display: flex;
                align-items: stretch;
                margin: .3em 0 .3em 1em;
                overflow: hidden;
                box-sizing: border-box;

                div {
                  flex: 1;
                }
              }
            }

            &#color-0 + label.palette {
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }

            &#color-5 + label.palette {
              margin-right: 1em;
              border: 2px solid black;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              background-color: white;
              color: black;
              text-decoration: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-weight: normal;
            }

            &:checked + label {
              opacity: 1;
              font-weight: bold;
            }
          }
        }
      }
    }

    .submit {
      @include font;
      background: white;
      border: 1px solid #464B58;
      border-radius: 8px;
      padding: .2em 2em;
      font-size: 1.06em;
      outline: none;
      cursor: pointer;
    }
  }
}

#clip-defs {
  position: absolute;
  z-index: -999;
}

/* DESKTOP */
@media screen and (min-width: 960px) {
  body {
    &.loading {
      .page {
        display: none;
      }

      .page-main {
        display: flex;
        .section-face,
        .section-eye {
          opacity: 0;
        }

      }

      .nav {
        top: calc(50% - #{$logo-top} - #{$logo-height} / 2);
      }
    }

    .champagne {
      animation: anim-champagne 3s ease-out;
      @keyframes anim-champagne {
        from {
          background-position-y: 1810px;
        }
        to {
          background-position-y: $champagne-background-position-y;
        }
      }
    }
  }
}

/* MOBILE */
@media screen and (max-width: 959px) {
  $m-nav-height: 78px;

  .language-kor {
    &:after {
      content: 'Kr';
    }
  }

  .language-eng {
    &:after {
      content: 'En';
    }
  }

  .champagne {
    top: -1720px;
    //background-position-y: 2620px !important;
  }

  .page-main {
    padding-top: calc(#{$m-nav-height} + 4px);
    box-sizing: border-box;

    .languages {
      display: none;
    }

    .label {
      flex-direction: row !important;
      font-size: 1.125em;

      span {
        flex: 1;
      }

      span:first-child:after {
        content: '';
      }
    }

    .fake {
      display: none;
    }

    .section-face {
      position: relative;
      flex: 1;
      order: 2;
      overflow: hidden;

      .background {
        opacity: .7;
      }

      .band {
        background: none;
        top: 0;
        bottom: 0;
        height: auto;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;

        .label {
          //margin-bottom: -4px;
        }
      }
    }

    .section-eye {
      background: none;
      position: relative;
      flex: 1;
      clip-path: none;
      overflow: hidden;

      .background-container {
        clip-path: none;
      }

      .eye {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
        background: none;
        flex-direction: column;
        align-items: stretch;

        .label {
          color: white;
          font-weight: normal;
          margin-top: 0;
        }
      }

      .geometry {
        display: none;
      }
    }

    .section-eye-left {
      order: 0;
    }

    .section-eye-right {
      order: 3;

      .eye {
        justify-content: flex-start;

        .label {
          //margin-top: -4px;
        }
      }
    }

    .empty {
      flex: 1;
      order: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: $logo-height;
      }
    }
  }

  .nav {
    position: fixed;
    top: 0;
    height: $m-nav-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black !important;
    margin-top: 0 !important;
    border-bottom: 1px solid white;

    svg:first-child {
      display: none;

      & + svg {
        display: block;
        margin-left: 24px;
      }
    }

    .icon-menu {
      position: static;
      width: 47px;
      height: 47px;
      background-image: url(/img/mobile/menu.svg) !important;
      visibility: visible;
      margin-right: 18px;
    }
  }

  .panel-sidebar {
    clip-path: none;
    background-color: black;

    &.visible {
      right: 0;
      opacity: 1;

      .panel-menu {
        animation: anim-menu-bg 2s alternate infinite linear;
        animation-iteration-count: 2;
        @keyframes anim-menu-bg {
          0% {
            background-position-x: 0;
            background-position-y: 100%;
          }
          100% {
            background-position-x: 100%;
            background-position-y: 0;
          }
        }
      }
    }

    .panel-menu {
      display: flex;
      flex-direction: column;
      clip-path: none;
      background: url(/img/mobile/menu-background.svg) no-repeat;
      background-position-x: 0;
      background-position-y: 100%;

      .panel-outline {
        display: none;
      }

      .menu-header {
        padding: .5em;
        margin-bottom: 8px;

        > * {
          margin-right: 1em;
        }

        .language-label {
          display: none;
        }
      }

      .menu-item {
        font-size: 1.125em;
        margin: 0 0 55px;
        display: flex;
        align-items: center;

        a {
          border-bottom: none;
          padding: 0 8px;

          &:after {
            display: none;
          }
        }

        .strike-through {
          flex: 1;
          border-top: 1px solid #DFE2E7;
          margin-right: 9px;
        }
      }
    }
  }

  .desc-switch:checked + .page-desc .panel {
    max-height: 200vh;
    opacity: 1;
  }

  .page-desc {
    height: auto;
    align-items: stretch;
    cursor: pointer;

    .picture {
      position: static;
      height: 75vw;
    }

    .panel {
      position: static;
      clip-path: none;
      width: auto;
      height: auto;
      overflow: visible;
      max-height: 0;
      opacity: 0;
      transition: max-height 1s, opacity 1s;

      .panel-outline {
        display: none;
      }

      .panel-content {
        display: flex;
        flex-direction: column;
      }

      .contact-container {
        position: absolute;
        top: calc(-#{$contact-size} / 2);
        padding: 0;
        left: 0;
        right: 0;
      }
    }

    .panel-right {
      .panel-content {
        flex-direction: column-reverse;
        text-align: left;
      }
    }
  }

  .page-consulting {
    height: auto;
    padding: 2em;
    box-sizing: border-box;

    .page-desc {
      display: none;
    }

    .half-champagne {
      transform: none !important;
    }

    .half-champagne-right {
      left: 0 !important;
    }

    .half-champagne-left {
      right: 0 !important;
    }

    .desc {
      position: relative;
      padding: 2em 4em;
      width: auto;
      height: auto;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;

      & + .contact-container {
        display: block;
      }
    }
  }

  .page-contact {
    height: auto;
    z-index: auto;
    min-height: auto;

    .champagne-static,
    .logo,
    .corner {
      display: none;
    }

    .contact-form {
      position: static;
      border-width: 12px 0;
      padding: 18px 24px;
      width: 100vw;
      margin: 0;
    }
  }
}