html,
body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.page {
  display: flex;
  align-items: stretch;
}

.eye {
  flex: 1;
}

.eye-left {
  background-image: url(/img/background-left.png);
}